.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #3D8BCD;
  color: #fff;
  font-size: 21px;
  border-radius: 5px;
  padding: 0 20px;
}